body{
	scroll-behavior: auto;
	overflow-x: hidden;
}
/*section_1*/
/*头部样式*/
.head_div{
	height: 110px;
	/*height: 2.1vh;*/
	width: 100vw;
	margin: 0px;
/*	background-color: #ffffff;*/
	/* 阴影*/
	/* 老的 Firefox */
/*	-moz-box-shadow: 0px 1px 10px #888888;
	box-shadow: 0px 1px 10px #888888;*/
	-moz-box-shadow: 0px 1px 15px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 15px rgba(0,0,0,0.3);
	z-index: 66;
}
.head_div .head_content{
/*	float: right;*/
	position: relative;
	/*align-content: center;*/
	margin-left: 18.9vw;
	margin-right: 17.6vw;
	height: 100%;
	/*width: 759px;*/
	/*固定宽度*/
	max-width: 1221px;
	min-width: 751px;
	/*background: blue;*/
}
.logo_div{
	position: absolute;
	/*justify-content: center;*/
	/*margin-top: 1/64vw;*/
	margin-top: 30px;
	width: 184px;
	height: 51px;
}
.fp-tableCell{
	vertical-align: top;
}
.phonenumber_div{
	/*float: right;*/
	position: absolute;
	right: 0px;
	/*margin-top: 7/480vw;*/
	margin-top: 28px;
	overflow: hidden;
}
.phonenumber_div p{
	/*margin: 0px;*/
	text-align: justify;
}
.chinese{
	font-size: 18px;
	font-family: "MicrosoftYaHei-Bold";
	color: #F5A623;
	letter-spacing: 1px;
	line-height: 24px;
	/*display: block;*/
	margin-left: 2px;
	margin-bottom: -6px;
}
.number{
	font-size: 26px;
	font-family: "Helvetica-Bold";
	color: #212331;
	letter-spacing: 0px;
	line-height: 31px;
	/*text-align: justify;*/
}
.button_div{
	overflow: hidden;
	/*position: relative;*/
	position: absolute;
	/*float: left;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*width: 355px;*/
	top: 50%;
	margin-top: -12.5px;
	/*margin-left: 324px;*/
	/*bottom: 50%;*/
	/*left: 50%;*/
	/*left: 324px;*/
	left: 26.5%;
	/*margin-bottom: -43px;*/
	/*margin-left: 0px;*/
/*	margin-top: auto;
	margin-bottom: auto;*/
	/*justify-content: center;*/
}
.button_div p{
	display: inline-block;
	margin-right: 50px;
	font-size: 18px;
	color: #212331;
	font-family: "MicrosoftYaHei-Bold";
	letter-spacing: 1px;
}
.button_div .thispage{
	padding-bottom: 7px;
	color: #0179FF;
	border-bottom: 3px solid #0179FF;
}
/*轮播图样式*/
/*html, body { font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}
ul, ol { padding: 0;}*/
.banner { 
	position: relative; 
	/*overflow: auto; */
	overflow: hidden;
	text-align: center;
	/*margin-top: 0px;*/
}
.banner li { 
	list-style: none; 
}
.banner ul li {
	float: left; 
	/*padding-left: 0px;*/
}
#b06 { 
	width: 640px;
	margin-top: 0px;
}
#b06 .dots { 
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 20px;
}
#b06 .dots li 
{ 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin: 0 4px; 
	text-indent: -999em; 
	border: 2px solid #fff; 
	border-radius: 6px; 
	cursor: pointer; 
	opacity: .4; 
	-webkit-transition: background .5s, opacity .5s; 
	-moz-transition: background .5s, opacity .5s; 
	transition: background .5s, opacity .5s;
}
#b06 .dots li.active 
{
	background: #fff;
	opacity: 1;
}
#b06 .arrow { 
	position: absolute; 
	width: 24px;
	height: 50px;
	margin-top: -25px;
	top: 50%;
}
#b06 #al { 
	left: 18.4vw;
}
#b06 #ar { 
	right: 18.4vw;
}
/*第一个信息板块*/
.first_info{
	position: relative;
	height: 500px;
	/*margin-bottom: 99px;*/
}
.title_1{
	text-align: center;
	height: 55px;
	margin-top: 34px;
	padding-bottom: 5px;
}
.title_1 p{
	display: inline-block;
	font-family: "MicrosoftYaHei";
	color: #666666;
	font-size: 42px;
	letter-spacing: 1.62px;
	text-align: justify;
	/*margin: 0px;*/
	padding-bottom: 5px;
	border-bottom: 1px solid #C7C7C7;
}
.title_1 p span{
	color: #0179FF;
}
.info{
	margin-left: auto;
	margin-right: auto;
	margin-top: 23px;
	width: 626px;
	text-align: center;
}
.info p{
	color: #999999;
}
.dobtn_div{
	/*position: relative;*/
	/*margin: 0px 200px 0px 200px;*/
	margin: 54px auto 0px;
	/*padding-bottom: 53px;*/
	/*height: 300px;*/
	/*不固定长度自由排版*/
	max-width: 1200px;
	min-width: 1080px;
	text-align: center;
}
.dobtn{
	display: inline-block;
	width: 200px;
/*	align-content: center;*/
	/*justify-content: center;*/
	text-align: center;
}
.dobtn .imgbtn{
	width: 128px;
	height: 148px;
	/*align-content: center;*/
	/*justify-content: center;*/
}
/*#imgbtn_1{
	background-image: url();
}*/
.dobtn p{
	font-size: 16px;
	font-family: "MicrosoftYaHei-Bold";
	color: #666666;
	text-align: center;
	letter-spacing: 0.89px;
	/*display: inline-block;*/
}
.imgbtn{
	
}
.next_section{
	height: 32px;
	width: 32px;
	position: absolute;
/*	top: 1164px;*/
/*	margin-top: 53px;*/
	bottom: 0px;
	margin-bottom: 14px;
	left: 50%;
	margin-left: -16px;
/*	background: url("../images/test.png") no-repeat 0 0;*/
	/*display: block;*/
	border-radius: 50%;
}
.next_section img{
	height: 32px;
	width: 32px;
	border-radius: 50%;
}
/*section_2*/
/*第二个信息板块*/
/*返回上一板块*/
/*.previous_section{
	height: 32px;
	width: 32px;
	position: absolute;
	top: 14px;
	left: 50%;
	margin-left: -16px;
	display: block;
	border-radius: 50%;
	z-index: 1;
}
.previous_section img{
	height: 32px;
	width: 32px;
	border-radius: 50%;
}*/
.second_info{
	/*margin-top: 0px;*/
	position: relative;
}
.title_2_bg{
	position: relative;
	/*margin-top: -34px;*/
	height: 270px;
	background-image: url(../images/title_bg.png);
	background-repeat: no-repeat;
	/*cover充满div*/
	background-size: cover;
}
.title_2_bg .next_section img{

}
.title_2{
	position: absolute;
	text-align: center;
	/*文字与上边框距离*/
	padding-top: 15px;
	left: 50%;
	height: 103px;
	width: 605px;
	margin-left: -302.5px;
	margin-top: 73px;
	/*半透明边框*/
	border: 6px solid rgba(255,255,255, 0.15);
}
.title_2 p{
	display: inline-block;
	font-family: "MicrosoftYaHei";
	color: #FFFFFF;
	font-size: 42px;
	/*vertical-align: middle;*/
}
.title_2 p span{
	color: #0179FF;
}
/*多边形按钮*/
/*.btn_view{
	--h: 3em;
	--w: 4em;
}*/
/*.btn_div .btn_origin{
	position: relative;
	list-style-type: none;
    width: calc(var(--h) * 1.732);
    height: var(--h);
    background-color: #ffffff;
    opacity: 0.4;
    color: black;
    font-family: sans-serif;
    text-align: center;
    line-height: var(--h);
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}*/
/*.btn_div .btn_origin::before,
.btn_div .btn_origin::after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    z-index: -1;
    filter: opacity(1);
}*/
/*.btn_div .btn_origin::before{
	transform: rotate(60deg) translateX(0);
}
.btn_div .btn_origin::after{
	transform: rotate(-60deg) translateX(0);
}
.btn_div .btn_origin:hover{
	border: 0px;
	color: white;
	background-color: #0179FF;
}
.btn_div .btn_origin:hover::before{
	border: 0px;
	background-color: #0179FF;
}
.btn_div .btn_origin:hover::after{
	border: 0px;
	background-color: #0179FF;
}
.btn_div .btn_origin,
.btn_div .btn_border{
	margin-top: 2em;
	margin-left: 2em;
}*/
/*backgroundborder*/
/*.btn_div .btn_border{
	position: relative;
	list-style-type: none;
    width: calc(var(--w) * 1.732);
    height: var(--w);
    background-color: #ffffff;
    color: black;
    font-family: sans-serif;
    text-align: center;
    line-height: var(--w);
}*/
/*.btn_div .btn_border::before,
.btn_div .btn_border::after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    z-index: -3;
    filter: opacity(1);
}*/
/*.btn_div .btn_border::before{
	transform: rotate(60deg) translateX(0);
}
.btn_div .btn_border::after{
	transform: rotate(-60deg) translateX(0);
}*/
/*.btn_div .btn_border:hover{
	color: white;
	background-color: #0179FF;
	opacity: 0.4;
	IE8以前
	filter: alpha(opacity=40);
	filter: opacity(0.4);
	-moz-opacity:0.4;
}
.btn_div .btn_border:hover::before{
	background-color: #0179FF;
	opacity: 0.4;
	filter: alpha(opacity=40);
	filter: opacity(0.4);
	-moz-opacity:0.4;
}
.btn_div .btn_border:hover::after{
	background-color: #0179FF;
	opacity: 0.4;
	filter: alpha(opacity=40);
	filter: opacity(0.4);
	-moz-opacity:0.4;
}*/
.info_view{
	position: relative;
	height: 700px;
	width: 100vw;
	/*text-align: center;*/
	/*background-color: red;*/
}
.info_content{
	position: relative;
	margin-top: 35px;
	height: 700px;
	width: 1070px;
	/*相对居中*/
	/*页面小于div时定位在左上角*/
	margin-left: auto;
	margin-right: auto;
	/*绝对居中*/
	/*页面小于div时依然居中*/
/*	margin-left: -535px;
	left: 50vw;*/
	/*margin-bottom: 90px;*/
	/*background-color: blue;*/
	background-image: url("../images/info_bg.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.info_content p{
	display: block;
	position: absolute;
	font-family: "MicrosoftYaHei";
	color: #333333;
	letter-spacing: 0;
	text-align: center;
}
#text_1{
	margin-top: 183px;
	margin-left: 54px;
	font-size: 22px;
}
#text_2{
	margin-top: 380px;
	margin-left: 105px;
	font-size: 32px;
}
#text_3{
	margin-top: 243px;
	margin-left: 329px;
	font-size: 22px;
}
#text_4{
	margin-top: 82px;
	margin-left: 416px;
	font-size: 22px;
}
#text_5{
	margin-top: 223px;
	margin-left: 628px;
	font-size: 32px;
}
#text_6{
	margin-top: 373px;
	margin-left: 900px;
	font-size: 22px;
}
/*section_3*/
#section_3{
	background-color: #f6f6f6;
}
.third_info{

}
/*第三个信息板块*/
.third_info{
	position: relative;
}
.service_process{
	position: relative;
	/*align-content: center;*/
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height:493px;
	margin-top: 30px;
	/*测试颜色*/
	/*background-color: red;*/
	overflow: hidden;
}
.left_bottom_box{
	position: absolute;
	width: 220px;
	height: 50px;
	left: 0px;
	bottom: 0px;
	/*background: #148E81;*/
}
.process_text{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 22px;
	color: #FFFFFF;
	letter-spacing: 0px;
	text-align: center;
	/*height: 50px;*/
	line-height: 50px;
}
.service_process .box_1{
	background-color: #148E81;
}
.service_process .box_3{
	background: #0377C8;
}
.service_process .box_4{
	background: #4C62AD;
}
.service_process .box_5{
	background: #5C4095;
}
.service_process .box__1{
	opacity: 1;
	margin-bottom: 163px;
}
.service_process .box__2{
	opacity: 0.6;
	margin-bottom: 93px;
}
.service_process .box__3{
	opacity: 0.4;
	margin-bottom: 23px;
}
.service_process .line_box{
	/*回避important，写在JS方法中*/
/*	background-color: rgba(255,255,255, 0) !important;
	width: 245px !important;*/
	border-bottom: 3px solid #BDBDBD;
	border-right: 3px solid #BDBDBD;
}
.service_process .box_2{
	background: #1190AA;
	/*回避变化量，写在JS方法中*/
/*	margin-left: 245px;
	bottom: 50px !important;*/
}
.triangle{
	position: absolute;
	width: 0px;
	height: 0px;
	border-left: 13px solid #BDBDBD;
	border-bottom: 10px solid #ffffff;
	border-top: 10px solid #ffffff;
	bottom: 191.5px;
	right: 0px;
}
.next_div{
	position: relative;
	height: 66px;
}
/*section_4*/
/*第四个信息板块*/
.fourth_info{
	position: relative;
}
.example_kinds{
	position: relative;
	max-width: 1200px;
	max-height: 50px;
	/*background-color: red;*/
	left: 50vw;
	margin-top: 40px;
	margin-left: -600px;
	border-top: 1px solid #D1D1D1;
	border-bottom: 1px solid #D1D1D1;
	/*text-align: center;*/
}
.separation_dot{
	display: inline-block;
	margin: 15px auto;
	color: #C1C1C1;
}
.kinds_button{
	/*position: absolute;*/
	display: inline-block;
	text-align: center;
	height: 32px;
	margin: 9px;
	border-radius: 100px;
}
.kinds_button_c{
	background: #0179FF;
}
.kinds_button .p_unc{
	font-family: "MicrosoftYaHei";
	/*text-align: center;*/
	margin: 6px 26px;
	line-height: 20px;
	font-size: 16px;
	color: #333333;
	letter-spacing: 0.89px;
}
.kinds_button .p_c{
	font-family: "MicrosoftYaHei-Bold";
	margin: 6px 26px;
	line-height: 20px;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.89px;
}
.examples{
	margin-top: 21px;
	margin-bottom: 641px;
	/*background-color: red;*/
}
/*重写图片动态*/
.grid{
	/*max-width: 1220px;*/
	min-width: 1220px;
}
.grid figure{
	max-width: 380px;
	margin-top: 15px;
	margin-bottom: 15px;
}
figure.effect-julia img{
	height: auto;
}
figure.effect-julia{
	background-color: #091C66;
}
figure.effect-julia .example_name{
	/*position: relative;*/
	display: block;
	margin-top: 42px;
	padding: 0.5em 0;
	font-family: "MicrosoftYaHei-Bold";
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.11px;
	background: rgba(255, 255, 255, 0);
	text-align: center;
	padding-bottom: 6px;
	border-bottom: 1px solid #FFFFFF;
}
figure.effect-julia .example_info{
	display: block;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.78px;
	margin-top: 3px;
	background: rgba(255, 255, 255, 0);
	text-align: center;
}
.get_more_example{
	position: absolute;
	/*align-content: center;*/
	left: 50%;
	margin-left: -68.5px;
	bottom: 0px;
	margin-bottom: 100px;
	background-color: #0179FF;
	border-radius: 4px;
	height: 41px;
	width: 137px;
}
.get_more_example p{
	font-family: "MicrosoftYaHei";
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 1.11px;
	text-align: center;
	margin: 10px 34px;
}
/*section_5*/
/*第五个信息板块*/
.fifth_info{
	position: relative;
}
.about_bg{
	position: relative;
	height: 650px;
	width: 100vw;
	background-image: url('../images/about_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.about_div{
	position: absolute;
	width: 1118px;
	height: 470px;
	/*opacity: 0.15;*/
	border: 6px solid rgba(255,255,255, 0.15);
	margin-top: 67px;
	left: 50%;
	margin-left: -559px;
}
.title_5{
	text-align: center;
	height: 55px;
	margin-top: 34px;
	padding-bottom: 5px;
}
.title_5 p{
	display: inline-block;
	font-family: "MicrosoftYaHei";
	color: #ffffff;
	font-size: 42px;
	letter-spacing: 1.62px;
	text-align: justify;
	padding-bottom: 5px;
	border-bottom: 6px solid #838383;
}
.title_5 p span{
	color: #0179FF;
}
.about_text{
	margin-top: 38px;
	margin-left: 39px;
	margin-right: 39px;
}
.about_text p{
	font-family: "MicrosoftYaHei";
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1.26px;
	line-height: 24px;
}
.join_us{
	position: absolute;
	bottom: 79px;
	left: 50%;
	margin-left: -104.5px;
	text-align: center;
	width: 209px;
	height: 60px;
	border: 2px solid #DA5D59;
	border-radius: 4px;
}
.join_us p{
	font-family: "MicrosoftYaHei-Bold";
	margin-top: 8px;
	font-size: 28px;
	color: #FC625E;
	letter-spacing: 0;
}
/*section_6*/
/*第六个信息板块*/
.sixth_info{
	position: relative;
}
.location{
	position: relative;
	width: 100vw;
	height: 420px;
	/*min-height: 420px;*/
	/*max-height: 420px;*/
	background-color: #212331;
	background-image: url('../images/location.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 40.83% 14.79%;
	overflow: hidden;
/*	-moz-background-size: 100% 100%;  
    -o-background-size: 100% 100%;  
    -webkit-background-size: 100% 100%;  
    background-size: 100% 100%;  
    -moz-border-image: url(./btn.png) 0;  
    background-repeat:no-repeat\9;  
    background-image:none\9;
           
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/location.png', sizingMethod='scale')\9;*/

}
.location img{
	position: absolute;
	width: 26px;
	height: 36px;
	/*固定值*/
	/*left: 784px;*/
	top: 284px;
	/*等比例缩小*/
	left: 40.83vw;
	/*top: 14.79vw;*/
/*	left: 40.83%;
	top: 14.79%;*/
	margin-top: -36px;
	margin-left: -13px;
}
.sixth_info .buttom{
	background-color: #212331;
	width: 100vw;
	height: 282px;
	padding-top: 6px;
}
.buttom_content{
	position: relative;
	margin: auto;
	height: 100%;
	width: 1100px;
	/*background-color: red;*/
}
.buttom_content .buttom_logo{
	position: absolute;
	margin-top: 55px;
}
.buttom_content .buttom_line{
	position: absolute;
	top: 62px;
	left: 190px;
	width: 693px;
	height: 170px;
	border-left: 2px solid #44465A;
	border-right: 2px solid #44465A;
}
.buttom_content .contact_title{
	position: absolute;
	left: 257px;
	top: 55px;
}
.contact_title p{
	display: inline-block;
	font-family: "MicrosoftYaHei-Bold";
	font-size: 26px;
	color: #FEFEFE;
	letter-spacing: 1px;
}
.buttom_content .location_text{
	position: absolute;
	top: 113px;
	left: 262px;
}
.location_text p{
	display: inline-block;
	margin-left: 18px;
	font-family: "MicrosoftYaHei";
	font-size: 18px;
	color: #9AABB9;
	letter-spacing: 1px;
}
.buttom_content .phonenumber{
	position: absolute;
	top: 160px;
	left: 262px;
}
.phonenumber p{
	display: inline-block;
	margin-left: 12px;
	font-family: "MicrosoftYaHei";
	font-size: 18px;
	color: #9AABB9;
	letter-spacing: 1px;
}
.buttom_content .e-mail{
	position: absolute;
	top: 207px;
	left: 262px;
}
.e-mail p{
	display: inline-block;
	margin-left: 12px;
	font-family: "MicrosoftYaHei";
	font-size: 18px;
	color: #9AABB9;
	letter-spacing: 1px;
}
.buttom_content .QR_code{
	position: absolute;
	top: 70px;
	left: 950px;
	text-align: center;
}
.QR_code img{
	width: 150px;
	height: 150px;
}
.QR_code p{
	font-family: "MicrosoftYaHei";
	margin-top: 8px;
	font-size: 16px;
	color: #9AABB9;
	letter-spacing: 0;
	text-align: center;
}
.footer_style{
	background-color: #0F111C;
	text-align: center;
	margin:auto;
	height: 60px;
	width: 100vw;
}
.footer_style p{
	font-family: "MicrosoftYaHei";
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 60px;
}